body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    text-shadow: 1px 1px 2px black;
  
}

#card{
    background-color: white;
    height: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    color:rgb(131, 131, 94);
    text-shadow:none;
}
#password-input{
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
#strength-title{
    display: flex;
    justify-content: center;
}

#submit-button{
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: burlywood;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom:15px;
   color:white;
}

#submit-button:hover{
    background-color: peru;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#submit-button:active{
    background-color: sienna;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color:linear-gradient(to right, red, yellow);
}